body{
    background-color: #f0eceb;
	margin: 0;
	padding: 5px;
    color: #283018;
    font-family: arial, sans-serif, tahoma; 
}

.container{
	width: 100%;
}

.header, .footer{
	background-color: #283018;
	color: #f0eceb;
	padding: 1px;
	clear: left;
}

a:link{
    font-family: arial, sans-serif, tahoma; 
    color: #729f98;
}  

a:visited{
    font-family: arial, sans-serif, tahoma;
    color: #aa863a;
    text-decoration:underline;
}

a:hover{
    font-family: arial, sans-serif, tahoma;
    font-style: italic;
    color: #283018;
    text-decoration: none;
}

a:active{
    font-family: arial, sans-serif, tahoma;
    color: #000;
    text-decoration:none;
}

.left{
	background-color: #729f98;
	margin: auto;
	float: left;
	max-width: 20%;
	min-height: 100%;
}

.middle{
    background-color: #f0eceb;
    margin:auto;
	margin-left: 20%;
	max-width: 60%;
}

.right{
	background-color: #f0eceb;
	margin: auto;
	float: right;
	max-width: 15%;
}

.bottom{
   position: relative;
   max-width: 100%;
   top: 150px;
   background-color: #283018;
   color: #729f98;
}

.logo{
    position: relative;
    max-width: 30%;
    background-color: #283018;
    color: #729f98;
    clear: left;
}

.login{
    position: relative;
    max-width: 100%;
    float: left;
    background-color: #283018;
    color: #729f98;
}

#googleMap{
    background-color: #283018;
    margin: auto;
    padding: 0;
}

#fnameval, #snameval, #emailval, #unameval, #pwordval, #confirmval{
    visibility: hidden;
    color: red;
    font-weight: bold;
}

#button1{
    visibility: hidden;
}
